<ion-content padding center class="ion-margin-top">
    <form class="ion-margin-top" [formGroup]="login_form" (submit)="login(login_form.value)">
      <h2>Welcome,</h2>
      <h3>Login to your account</h3>
      <ion-row>
        <ion-col class="d-flex ion-justify-content-center">
          <ion-avatar>
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
  
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" formControlName="username" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
  
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button expand="full" type="submit" color="primary" class="login-button" >Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <div text-center>If you don't have an account, please <a routerLink='/register' routerDirection="forward">register</a> first!
        </div>
      </ion-row>
    </form>
  </ion-content>
  